[manifest]
version = "1.0.0"
dump_lua = true
priority = -10

# Change CardArea's background colour
# CardArea.draw
[[patches]]
[patches.pattern]
target = "cardarea.lua"
pattern = "{n=G.UIT.R, config={minw = self.T.w,minh = self.T.h,align = \"cm\", padding = 0.1, mid = true, r = 0.1, colour = self ~= G.shop_vouchers and {0,0,0,0.1} or nil, ref_table = self}, nodes={"
position = 'at'
match_indent = true
payload = '''
{n=G.UIT.R, config={minw = self.T.w,minh = self.T.h,align = "cm", padding = 0.1, mid = true, r = 0.1, colour = self.config.bg_colour or self ~= G.shop_vouchers and {0,0,0,0.1} or nil, ref_table = self}, nodes={
'''

# Remove CardArea count
# CardArea.draw
[[patches]]
[patches.pattern]
target = "cardarea.lua"
pattern = '''
local card_count = self ~= G.shop_vouchers and {n=G.UIT.R, config={align = self == G.jokers and 'cl' or self == G.hand and 'cm' or 'cr', padding = 0.03, no_fill = true}, nodes={
'''
position = 'at'
match_indent = true
payload = '''
local card_count = not self.config.no_card_count and self ~= G.shop_vouchers and {n=G.UIT.R, config={align = self == G.jokers and 'cl' or self == G.hand and 'cm' or 'cr', padding = 0.03, no_fill = true}, nodes={
'''

## cardareas.toml
# Create custom card areas at appropriate timing via helper function
[[patches]]
[patches.pattern]
target = 'game.lua'
match_indent = true
position = 'after'
pattern = '''
G.playing_cards = {}

set_screen_positions()
'''
payload = '''
-- Add align config to existing areas that should use it
self.jokers.config.align_buttons = true
self.consumeables.config.align_buttons = true

for _, mod in ipairs(SMODS.mod_list) do
    if mod.can_load and mod.custom_card_areas and type(mod.custom_card_areas) == "function" then
        mod.custom_card_areas(self)
    end
end
'''

# Check area.config.align_buttons if an area should align buttons like normal
[[patches]]
[patches.pattern]
target = 'card.lua'
match_indent = true
position = 'at'
pattern = '''
((self.area == G.jokers) or (self.area == G.consumeables)) and "cr" or
'''
payload = '''
self.area.config.align_buttons and "cr" or
'''
[[patches]]
[patches.pattern]
target = 'card.lua'
match_indent = true
position = 'at'
pattern = '''
((self.area == G.jokers) or (self.area == G.consumeables)) and {x=x_off - 0.4,y=0} or
'''
payload = '''
self.area.config.align_buttons and {x=x_off - 0.4,y=0} or
'''
## end cardareas.toml